.fullHeader {
 
  background-color: #ec5459;
 
}

.topHeader {
  width: 95%;
  margin: auto;
  padding-top: 15px;
  display: flex;
}
.topHeaderLeft {
  display: flex;
  justify-content: space-between;
}
.websiteLogo {
  color: white;
  font-size: 25px;
  font-weight: 600px;
  font-family: "Times New Roman", Times, serif;
}

.topIcons {
  display: flex;
  justify-content: end;
}

.topIconBox {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: #fff;
}
.badgeColor {
  color: #ff9212;
}
.contact {
  background: #e97730;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 10px;
  border-radius: 6px;
}
.Icon {
  font-size: 40px;
  color: #fff;
}
.signUpIcon {
  font-size: 40px;
  color: #fff;
}

.iconText {
  font-size: 12px;
}
.callIcon {
  font-size: 50px;
  color: #e7dede;
}


/* Custom styles for ReactSearchAutocomplete results */
.searchBarDesktop {
 
  position: relative; 
  z-index: 1000; 
  border-radius: 0px;
  display: flex;
  height: 38px;
}
.searchBar{
  
 min-width: 400px;
}


.searchResults {
 
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1001; 
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
}

/* Styles for individual result items */
.searchResultsItem {
  /* Customize the appearance of each result item */
  padding: 10px;
  cursor: pointer;
 
}




.searchButton{
  outline: 0;
  padding:10px 10px 10px 10px;
  margin-left: 2px;
  border-width: thin;
  border-color: #fff;
  border-radius:2px;
  background-color: #ff9212;
  color: #fff;
  font-weight: bold;
  
}
.searchButtonBox{
  padding-top: 8px;
}

.mobileView{
  display: none;
}

@media screen and (max-width: 1200px) {
    .topIconBox {
        display: grid;
        padding-left: 5px;
        padding-right: 0px;
       
        color: #fff;
      }
  .contact {
    background-color: #ec5459;
  }
  .callIcon {
    font-size: 35px;
    color: #fff;
  }
.mobileView{
  padding: 5px;
  display: flex;
  width: 100%;

}

.searchBarMobileBox{
   width: 100%; 
  position: relative; 
  z-index: 1000; 
  border-radius: 0px;
  display: flex;
  height: 38px;

}
.searchBarMobile{
   width: 100%  
}
  
  .contactDetails {
    display: none;
  }
  .iconText {
    display: none;
  }
  .Icon {
    font-size: 35px;
    color: #fff;
  }

  .signUpIcon {
    display: none;
  }
  .searchBarDesktop {
    display: none;
  }

}

@media screen and (max-width: 480px) {
    .topIconBox {
        display: grid;
        padding-left: 5px;
        padding-right: 0px;
        font-size: 14px;
        color: #fff;
      }
  .contact {
    background-color: #ec5459;
  }
  .callIcon {
    font-size: 25px;
    color: #fff;
  }

  
  .contactDetails {
    display: none;
  }
  .iconText {
    display: none;
  }
  .Icon {
    font-size: 25px;
    color: #fff;
  }

  .signUpIcon {
    display: none;
  }
}

